{% extends "base.html" %}

{% load custom_filters %}

{% block title %}Личный кабинет{% endblock %}

{% block header %}
<!-- Page header with logo and tagline-->
<header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Страница пока не готова!</h1>
            <p class="lead mb-0">В личном кабинете для зарегистрированных пользователей будет доступна автоматическая проверка вопросов и персонализированная статистика</p>
        </div>
    </div>
</header>
{% endblock header %}