{% extends "base.html" %}

{% block title %}Все вопросы{% endblock %}

{% block header %}
<!-- Page header with logo and tagline-->
<header class="py-1 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Коллекция вопросов с вответами</h1>
            <p class="lead mb-0">Автоматическая проверка вопросов и статистика пока что не доступны...</p>
        </div>
    </div>
</header>
{% endblock header %}


{% block content %}
<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Questions-->
        <div class="col-lg-8">
            {% for question in questions %}
            <div class="card mb-4">
                <div class="card-body">
                    {% include "question.html" %}
                </div>
            </div>
            {% endfor %}
            
            {% comment %}                     
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
            
            <!-- Pagination-->
            {% if is_paginated %}           
            <nav aria-label="Pagination">
                <hr class="my-0">
                <ul class="pagination justify-content-center my-4">
                    <li class="page-item {% if not prev_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ prev_url }}" tabindex="-1">Назад</a>
                    </li>

                    {% for n in questions.paginator.page_range %}

                        {% if questions.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="?page={{ n }}">{{ n }}<span class="sr-only">(current)</span></a>
                                </li>

                        {% elif n > questions.number|add:-3 and n < questions.number|add:3 %}
                            <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>

                        {%endif%}

                    {% endfor %}

                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ next_url }}" tabindex="-1">Далее</a>
                    </li>
                </ul>
            </nav>
            {% endif %} 
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Поиск вопросов</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Тема или ключевое слово..." aria-label="Тема или ключевое слово..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Filter widget-->
            <div class="card mb-4">
                <div class="card-header">Фильтр по разделам</div>
                <div class="card-body">
                    {% for section in sections %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="{{ section.slug }}">
                            <label class="form-check-label" for="{{ section.slug }}">
                                <p>{{ section.name }}</p>
                        </div>
                    {% endfor %}
                    <button class="btn btn-primary" id="button-filter" type="button">
                        Отфильтровать!
                    </button>
                </div>
            </div>
            <!-- Sections and topics widget-->
            <div class="card mb-4">
                <div class="card-header">Все темы и разделы</div>
                <div class="card-body">
                    <ul class="list-group">
                        {% for section in sections %}
                        <li class="list-group-item"><a href="#!">{{ section.name }}</a>
                            <ul class="list-group inner">
                                {% for topic in section.topics.all %}
                                <li class="list-group-item border-0"><a href="#!">{{ topic.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}





<div class="small text-muted">Этап: {{ question.stage }}. Часть {{ question.part }}, №{{ question.number }}</div>
<h3 class="card-title">{{ question.competition.name }}, {{ question.year }}</h3>

    <p><div class="text-muted">{{ question.get_type_display }}</div></p>
    <p>{{ question.text | linebreaksbr }}</p>

    <div class="row">

    <div class="col">
    {% for var in question.answer_variants.0  %}
        <div class="row">
            <p>{{ var.label }}</p>
        </div>
    {% endfor %}
    </div>

    <div class="col">
    {% for var in question.answer_variants.1  %}
        <div class="row">
            <p>{{ var }}</p>
        </div>
    {% endfor %}
    </div>

    </div>
    
    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#answer{{ question.id }}" aria-expanded="false" aria-controls="answer1">
        Показать ответ
    </button>
    
    <div class="collapse" id="answer{{ question.id }}">
        <div class="card card-body border-0">

            {% for answer in question.right_answers.all %}
            <div class="container">
                <div class="row">
                <div class="col">
                    {% if answer.flag %}<b>{{ answer.label }}</b> {% else %}{{ answer.label }}{% endif %}
                </div>
                <div class="col">
                    {% if answer.flag %}<b>{{ answer.text }}</b> {% else %}{{ answer.text }}{% endif %}
                </div>
                </div>
            </div>
            {% endfor %}           
    </div>