{% load static %}
{% load custom_filters %}

{% if user.is_authenticated %}
<a href="#" class="bookmark-btn float-end" style="text-decoration: none" onclick="toggleBookmark(this, {{ question.id }}); event.preventDefault();">
    <div class="d-flex align-items-center">
        <span class="ms-2" style="line-height: 40px; padding-right: 5px;">Сохранить</span>
        <i class="fa {% if question|is_saved_by_user:user %}fa-bookmark{% else %}fa-bookmark-o{% endif %} fa-2x"></i>
    </div>
</a>
{% else %}
<a href="{% url 'main:login' %}" class="bookmark-btn float-end" style="text-decoration: none">
    <div class="d-flex align-items-center">
        <span class="ms-2" style="line-height: 40px; padding-right: 5px;">Сохранить</span>
        <i class="fa {% if question|is_saved_by_user:user %}fa-bookmark{% else %}fa-bookmark-o{% endif %} fa-2x"></i>
    </div>
</a>
{% endif %}

<div class="small text-muted">Этап: {{ question.new_stage.name }}. Часть {{ question.part }}: {{ question.numbers_info }}</div>
<h3 class="card-title"><a href="{{ question.get_absolute_url }}">{{ question.verbose_title }}</a></h3>
<div class="text-muted">Раздел:{% for section in question.sections.all %} <a href="{{section.get_absolute_url}}">{{ section.name }}</a>{% endfor %}</div>
<div class="text-muted">Темы:{% for topic in question.topics.all %} <a href="{% url 'main:problems' %}?topic={{ topic.name }}">{{ topic.name }}</a>{% endfor %}</div>

    <p>{{ question.text | linebreaksbr }}</p>
    <p><div class="text-muted">{{ question.get_type_display }}</div></p>

    {% if question.type == 'REL' or question.type == 'STR'%}

        <div class="row">

        <div class="col">
        {% for variant in question.answer_variants.0  %}
            <div class="row">
                <p>{{ variant.label | linebreaksbr }}</p>
            </div>
        {% endfor %}
        </div>

            <div class="col">
            {% for variant in question.answer_variants.1  %}
                <div class="row">
                    <p>{{ variant | linebreaksbr }}</p>
                </div>
            {% endfor %}
            </div>

        </div>

    {% else %}

        {% for variant in question.answer_variants.0  %}
            <p>{{ variant.label | linebreaksbr }}</p>
        {% endfor %}
    
    {% endif %}
    
    <p>
    {% if question.images.images %}
    <div id="carousel-{{ question.id }}" class="carousel carousel-dark slide" data-bs-ride="carousel-{{ question.id }}" data-bs-interval="false">
        
        {% if question.images.images.count > 1 %}
        <div class="carousel-indicators">
        {% for image in question.images.images.all %}
            {% if forloop.counter0 == 0 %}
                <button type="button" data-bs-target="#carousel-{{ question.id }}" data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true" aria-label="Image 1"></button>
            {% else %}
                <button type="button" data-bs-target="#carousel-{{ question.id }}" data-bs-slide-to="{{forloop.counter0}}" aria-label="Image {{forloop.counter0}}"></button>
            {% endif %}
        {% endfor %}
        </div>
        {% endif %}

        <div class="carousel-inner">
        {% for image in question.images.images.all %}
            {% if forloop.counter0 == 0 %}
                <div class="carousel-item active">
                <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ question.images }}"  style="max-height: 900px; object-fit: contain; width: 100%">
                </div>
            {% else %}
                <div class="carousel-item">
                <img src="{{ image.file.url }}" class="d-block w-100" alt="{{ question.images }}">
                </div>
            {% endif %}
        {% endfor %}
        </div>

        {% if question.images.images.count > 1 %}
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ question.id }}" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ question.id }}" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        {% endif %}

    </div>
    {% endif %}
    <p>
    
    <p>
    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#answer{{ question.id }}" aria-expanded="false" aria-controls="answer1">
        Показать ответ
    </button>
    </p>
        
    <div class="collapse" id="answer{{ question.id }}">
        <div class="card card-body border-0">

            {% if question.type == 'REL' or question.type == 'STR'%}
                {% for answer in question.answer_variants.0 %}
                    <div class="row">
                    <div class="col">
                        <p>{% if answer.flag %}<mark style="background-color:rgba(40, 167, 69, 0.5); border-radius:5px"><b>{{ answer.label }}</b></mark> {% else %}{{ answer.label }}{% endif %}</p>
                    </div>
                    <div class="col">
                        <p>{% if answer.flag %}<b>{{ answer.text | linebreaksbr }}</b> {% else %}{{ answer.text | linebreaksbr }}{% endif %}</p>
                    </div>
                    </div>
                {% endfor %}
            {% else %}
                {% for answer in question.answer_variants.0 %}
                    <p>{% if answer.flag %}<mark style="background-color:rgba(40, 167, 69, 0.5); border-radius:5px"><b>{{ answer.label | linebreaksbr }}</b></mark> {% else %}{{ answer.label | linebreaksbr }}{% endif %}</p>
                {% endfor %}                
            {% endif %}
        </div>        
    </div>