{% load custom_filters %}
{% load static %}

<!-- Page content-->
<div class="container">
    <div class="row">
        <!-- Questions-->
        <div class="col-lg-8">
            {% for question in questions %}
            <div class="card mb-4 pr-3 pt-2">
                <div class="card-body">
                    {% include "question.html" %}
                </div>
            </div>
            {% endfor %}
            
            {% comment %}                     
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                    <!-- Blog post-->
                    <div class="card mb-4">
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        <div class="card-body">
                            <div class="small text-muted">January 1, 2022</div>
                            <h2 class="card-title h4">Post Title</h2>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam.</p>
                            <a class="btn btn-primary" href="#!">Read more →</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
            
            <!-- Pagination-->
            {% if is_paginated %}           
            <nav aria-label="Pagination">
                <hr class="my-0">
                <ul class="pagination justify-content-center my-4">
                    {% if prev_url %}<a class="page-link border-0" href="{{ page_urls.1 }}" tabindex="-1">В начало</a>{% endif %}
                    <li class="page-item {% if not prev_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ prev_url }}" tabindex="-1">Назад</a>
                    </li>

                    {% for n, page_url in questions.paginator.page_range|zip:page_urls.values %}

                        {% if questions.number == n %}
                                <li class="page-item active">
                                    <a class="page-link" href="{{ page_url }}">{{ n }}<span class="sr-only">(current)</span></a>
                                </li>

                        {% elif n > questions.number|add:-3 and n < questions.number|add:3 %}
                            <li class="page-item"><a class="page-link" href="{{ page_url }}">{{ n }}</a></li>

                        {%endif%}

                    {% endfor %}

                    <li class="page-item {% if not next_url %} disabled {% endif %}">
                    <a class="page-link" href="{{ next_url }}" tabindex="-1">Далее</a>
                    </li>
                    {% if next_url  %}<a class="page-link border-0" href="{{last_url}}" tabindex="-1">В конец</a>{% endif %}
                </ul>
            </nav>
            {% endif %} 
        </div>
