{% load static %}
{% load custom_filters %}

{% include "question_body.html" %}

{% if question.type == 'REL' or question.type == 'STR'%}

<div class="row">

<div class="col">
{% for variant in question.answer_variants.0  %}
    <div class="row">
        <p>{{ variant.label | linebreaksbr }}</p>
    </div>
{% endfor %}
</div>

    <div class="col">
    {% for variant in question.answer_variants.1  %}
        <div class="row">
            <p>{{ variant | linebreaksbr }}</p>
        </div>
    {% endfor %}
    </div>

</div>

{% else %}

{% for variant in question.answer_variants.0  %}
    <p>{{ variant.label | linebreaksbr }}</p>
{% endfor %}

{% endif %}
    
<p>
<button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#answer{{ question.id }}" aria-expanded="false" aria-controls="answer1">
    Показать ответ
</button>
</p>

{% include "question_images.html" %}
        
<div class="collapse" id="answer{{ question.id }}">
    <div class="card card-body border-0">

        {% if question.type == 'REL' or question.type == 'STR'%}
            {% for answer in question.answer_variants.0 %}
                <div class="row">
                <div class="col">
                    <p>{% if answer.flag %}<mark style="background-color:rgba(40, 167, 69, 0.5); border-radius:5px"><b>{{ answer.label| linebreaksbr }}</b></mark> {% else %}{{ answer.label | linebreaksbr }}{% endif %}</p>
                </div>
                <div class="col">
                    <p>{% if answer.flag %}<b>{{ answer.text | linebreaksbr }}</b> {% else %}{{ answer.text | linebreaksbr }}{% endif %}</p>
                </div>
                </div>
            {% endfor %}
        {% else %}
            {% for answer in question.answer_variants.0 %}
                <p>{% if answer.flag %}<mark style="background-color:rgba(40, 167, 69, 0.5); border-radius:5px"><b>{{ answer.label | linebreaksbr }}</b></mark> {% else %}{{ answer.label | linebreaksbr }}{% endif %}</p>
            {% endfor %}                
        {% endif %}
    </div>        
</div>